body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f9f9f9;
    background-image: url(super.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
  h1 {
    text-align: center;
    color: #333;
  }
  .bord{
    background-color: white;
    border-radius: 50%;

  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input.valid {
    border-color: green;
  }
  
  input.invalid {
    border-color: red;
  }
  
  #lista {
    max-width: 600px;
    margin: 30px auto;
  }
  
  .card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card p {
    margin: 0;
  }
  
  .card button {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  